* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 2rem;
    font-family: sans-serif;
}

table {
    height: 40%;
    overflow: auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2rem;
}

tr:nth-child(2n) {
    background-color: rgba(0, 255, 255, 0.5);
}

tr:nth-child(2n+1):not(tr:first-child) {
    background-color: rgba(0, 255, 255, 0.205);
}

th {
    background-color: #ff4000ca;
    color:white;
}

.mb-1rem {
    margin-bottom: 1rem;
}

[type="submit"] {
    background-color: #ff8000df;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 3px 3px 10px lightblue;
    transition-duration: 0.5s;
}
[type="submit"]:hover{
    transform: scale(105%);
}
[type="submit"]:active{
    transition-duration:0s;
    background-color: #ff8000;
}